<% if @last_guess and @last_guess[1] == true %>
<p>That's correct!</p>
<% elsif @last_guess %>
<p>Incorrect!</p>
<% end %>

<p id="question-text"><%= @question.text %></p>

<p><a id="hint-link" href="/questions/<%= @question.id %>/_hints">Click here for a hint!</a></p>


<form action="/questions/<%= @question.id %>/guess" method="post">
  <input type="text" name="answer" <% if @last_guess %>value="<%= @last_guess[2] %>"<% end %>>
  <input type="submit">
</form>
