nav ul a,
nav .brand-logo {
  color: #444;
}

.button-collapse {
  color: #444;
}

#editor {
  width:100%;
  height:100px;
}

.schema-img {
  max-width: 100%;
  height: auto;
}

.hidden {
	display: none;
}

p img {
  display: inline-block;
  vertical-align: middle;
  height:20px;
}

.pos-ctr {
  text-align: center;
}