<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <ul>
      <% if current_user %>
        <li class="deep-purple-text text-darken-4 right">hello, <%= current_user.name %></li>
      <% else %>
        <li><a id="logo-container" href="/auth/github" class="brand-logo right">Sign in with Github</a></li>
      <% end %>
        
      <li><a id="logo-container" href="/" class="brand-logo">Active Record Drills</a></li>
    </ul>
    <br>
    <!-- Note from Manu: Just be sure to add identical links to both of these uls -->
    <ul class="right hide-on-med-and-down">
      <li><a href="/questions">Questions</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="/questions">Questions</a></li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>



